.home-section {
  background-color: #faf8f7;
}

.home-top-nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem 1rem 2rem;
  background-color: White;
  border-bottom: 3px solid #faf8f7;
}

.top-side-icons {
  display: flex;
  .notification-icon {
    padding-top: 0.3rem;
  }
}

.profile-icon {
  padding-left: 2rem;
}

.main-section {
  display: flex;
  opacity: 1;
}

.side-nav {
  width: 20%;
  padding: 1rem;
  padding-left: 1.5rem;
  background-color: White;
}
